* {
  box-sizing: border-box;
  text-decoration: none;
}


/**********************************************************
    NAVIGATION
**********************************************************/
.navigation {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.navigation a {
  padding: 10px 30px;
  font-weight: bold;
  color: #fff;
}

.logo {
  position: absolute;
  z-index: 1111111111111111111111111111111111;
  top: 10px;
  left: 10px;
  height:100px;
  width: 100px;
}



/**********************************************************
    Home
**********************************************************/
.home {
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
}

.intro {
  min-width: 600px;
  max-width: 800px;
  font-size: 1.5em;
  position: fixed;
  left: 100px;
  bottom: 250px;
}

.introDescription {
  margin-bottom: 50px;
}

.btn-explore {
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
}

.btn-explore:hover {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  transition: all 500ms ease;
}

.btn-explore:active {
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  box-shadow: 3px 1px #000;
  transition: all 500ms ease;
}