* {
  box-sizing: border-box;
}


/**********************************************************
    NAVIGATION
**********************************************************/
.navigation {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  border:  1px solid #000;
}

.navigation a {
  padding: 10px 30px;
  font-weight: bold;
}

.logo {
  position: absolute;
  z-index: 1111111111111111111111111111111111;
  top: 10px;
  left: 10px;
  height:100px;
  width: 100px;
}